*.mp4 filter=lfs diff=lfs merge=lfs -text
gpt2-quest/checkpoint-*/optimizer.pt filter=lfs diff=lfs merge=lfs -text
gpt2-quest/checkpoint-*/*.pt filter=lfs diff=lfs merge=lfs -text
gpt2-quest/checkpoint-*/*.pth filter=lfs diff=lfs merge=lfs -text
gpt2-quest/checkpoint-*/training_args.bin filter=lfs diff=lfs merge=lfs -text
